<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MONEYDEED$ | HOME</title>
    <meta charset="UTF-8">
       <link rel="stylesheet" href="static/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="static/css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="static/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="static/nicepage.js" defer=""></script>
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
</head>
<body>
        <!-- bootstrap navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="main-logo-img mt-3" href="#"><img src="/static/download.png" alt="sheep-logo" height="75px" width="160px">
                <!-- <a class="navbar-brand" href="index.html">JobPortal</a> -->
              </a>
              
              <div class="row donate-sponsor">
                <a type="button" class="btn btn-success mr-1" id="donate" href="login">LOGIN</a>
                <a type="button" class="btn btn-warning mr-1" id="sponsor" href="register">REGISTER</a>
              <!--  <a type="button" class="btn btn-primary mr-1" id="sponsor" href="contact.html">CONTACT US</a>  -->
              </div>
            </div>
          </nav>
          <!-- navbar ends -->

        <!-- what we focus on -->
        <section class="our-focus">
        <style> body { background-image: url('static/space1.jpg'); background-repeat: no-repeat;   background-attachment: fixed;   background-size: 100% 100%;} </style>
            <div class="container">
              <h2 class="text-center mt-3" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Aboutus</h2>
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                  <div class="card" style="width: 19rem;">
                    <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                      <h5 class="card-title">Mission</h5>
                      <p class="card-text">Moneydeed$ helps you track your financial activity efficiently. Its simple design makes it lightweight, straightforwar​d and very easy to use. You need just a few SECONDS daily to save the amount and each spending purpose. No matter where you are just a couple of taps will save your expense!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 mr-5" id="focus-second">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                    <div class="card-body" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                      <h5 class="card-title">Vission</h5>
                      <p class="card-text">Moneydeed$ helps people to meet their financial objectives </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 ml-5" id="focus-third">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                      <h5 class="card-title">Objective</h5>
                      <p class="card-text">It's essential that you keep careful track of your expenses to make sure you stay on budget. Thanks to moneydeed$, it's now easier to track your expenses than ever before. Because money matters</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- focus section ends -->

        <!-- footer starts -->
          <!-- Site footer -->
          <footer class="site-footer">
            <div class="container mt-5">
              <div class="row">
                <div class="col-sm-12 col-md-6">
               <!--   <h3>JobPortal</h3>  -->
              
                </div>

                <div class="col-xs-6 col-md-3">
                  <h4>Get in Touch</h4>
                  <ul class="footer-links" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                    <li><a href="mailto:test@gmail.com">sangeethsahana@gmail.com</a></li>
                    <li><a href="">+91 9344758516</a></li>
                  </ul>
                </div>

                
              </div>
            <hr>
            
                
              </div>
            </div>
      </footer>
       

          </body>
</html>